<nav class="main-nav">
  <h1><a href="/cats">99 Cats</a></h1>
  <div>
    <%= link_to 'Request Rental', new_cat_rental_request_url %>
    <a href="">Placeholder</a>
    <a href="">Placeholder</a>
  </div>
</nav>