<form action="<%= action_url %>" method="POST" >
  <%= auth_token %>
  <textarea name="comment[body]" id="body" cols="30" rows="3"></textarea>
  <br>
  <input type="submit" value="Add Comment">
</form>