.posts-section,
.subs-section {
  margin-top: 1rem;

  hr {
    border: 1px solid $lightest-gray;
    margin: 1rem 0;
  }

  ul {
    list-style: disc;
    list-style-position: inside;
  }

  ul > li {
    margin-left: 10px;
  }

  a {
    margin-right: 1rem;
  }

  a + a {
    padding-left: 1rem;
    border-left: 1px solid $light-gray;
  }

  span {
    display: block;
    margin-left: 1rem;
    color: $gray;
    font-size: 0.5rem;
  }
}