<% comments_by_parent_id[c1.id].each do |c2| %>
  <ul>
  <li><%= link_to c2.content, comment_url(c2) %> 
  <span><%= " by #{c2.author.email} at #{c2.created_at.strftime('%H:%M %d-%b-%y')}" %></span>

  <%= render 'comments/comment', comments_by_parent_id: comments_by_parent_id, c1: c2 %>
  </li>
  </ul>
<% end%>