$lightest-gray: #f7f7f5;
$light-gray: #e2e2e2;
$gray: #999;
$dark-gray: #6f6f6f;

$lightest-blue: #f0f8fc;
$light-blue: #6288a5;
$blue: #326891;
$dark-blue: #4d7b9f;
$darkest-blue: #265e8b;

$reddit-red: #ff4500;
$reddit-blue: #0079d3;
$reddit-blue-light: #1483d6;

$lightest-red: #fad4c7;
$light-red: #ec8560;
$dark-red: #b93303;

$lightest-green: #cefad9;
$light-green: #a6f3ba;
$dark-green: #0a914d;